* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
h1 {
    font-size: 2.3em;
}
.header {
    display: flex;
    margin: 0 100px;
    color: gray;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    padding: 40px 0;
}
.navbar {
    margin-left: auto;
    padding: 40px 0;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a:link {
    color: grey;
    text-decoration: none;
    padding: 40px 15px;
    transition: 0.8s;
}
.navbar ul li a:visited {
    color: grey;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color: red;
    color: white;
}
.navbar ul li a:active {
    background-color: pink;
    transition: 0.3s;
}
.banner-img img {
    width: 100vw;
    height: 45vh;
}
.about {
    background-color: lightgreen;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
}
.about-contents {
    width: 50vw;
}
.projects {
    margin-top: 35px;
}
.projects h1 {
    font-size: 3em;
    text-align: center;
}
.project-grid {
    display: flex;
    margin-top: 30px;
}
.project-grid div {
    flex: 1;
}
.project-grid div img {
    width: 300px;
    height: 350px;
}
.project-grid div h3{
    position: relative;
    bottom: 0;
    right: 0;
}